<div class="container">
    
<center>
<h2><b>Postal App</b></h2>  
<h3><b>User LogIn</b></h3>
</center>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
</center>
  <% if devise_mapping.rememberable? -%>
    <br />
    <br />
    <br />
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
<center>
  <div class="actions">
      <div class="row-fluid">
          <div class="span6">

             <%= f.submit "Log in", class:'btn btn-success' %>
          </div>
      </div>
  </div>

<% end %>
</div>
</div>
  <%= render "devise/shared/links" %>
</center>
